Repository eclipse-kapua/kapua, pull requests merged in 2019-12, with the labels that each got.

#2786 Add JWT ID in GwtSession
  console/core/src/main/java/org/eclipse/kapua/app/console/core/server/GwtAuthorizationServiceImpl.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/shared/model/session/GwtSession.java
Labels: Console GWT

#2787 Added filtering of the application type for DeviceManagementOperation
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/packages/DeviceTabPackagesHistory.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/shared/model/device/management/registry/GwtDeviceManagementOperationQuery.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/shared/util/GwtKapuaDeviceModelConverter.java
Labels: Console GWT, enhancement

#2788 Chng general improvements
  broker-core/src/main/java/org/eclipse/kapua/broker/core/listener/DeviceManagementNotificationMessageProcessor.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/ui/dialog/entity/EntityLogDialog.java
  service/device/api/src/main/java/org/eclipse/kapua/service/device/management/message/notification/KapuaNotifyChannel.java
  service/device/api/src/main/java/org/eclipse/kapua/service/device/management/message/notification/KapuaNotifyPayload.java
  service/device/call/api/src/main/java/org/eclipse/kapua/service/device/call/message/app/notification/DeviceNotifyChannel.java
  service/device/call/kura/src/main/java/org/eclipse/kapua/service/device/call/message/kura/app/notification/KuraNotifyChannel.java
  service/device/call/kura/src/main/java/org/eclipse/kapua/service/device/call/message/kura/app/notification/KuraNotifyMetrics.java
  service/device/call/kura/src/main/java/org/eclipse/kapua/service/device/call/message/kura/app/notification/KuraNotifyPayload.java
  service/device/commons/src/main/java/org/eclipse/kapua/service/device/management/commons/message/notification/KapuaNotifyChannelImpl.java
  service/device/management/registry/api/src/main/java/org/eclipse/kapua/service/device/management/registry/manager/DeviceManagementRegistryManagerService.java
  translator/kapua/kura/src/main/java/org/eclipse/kapua/translator/kura/kapua/TranslatorLifeNotifyKuraKapua.java
  translator/kura/jms/src/main/java/org/eclipse/kapua/translator/jms/kura/TranslatorLifeNotifyJmsKura.java
Labels: bug

#2789 Job Targets CSV Export and Jobs Registry readonly REST API
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/targets/JobTabTargetsToolbar.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/servlet/JobTargetExporter.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/servlet/JobTargetExporterCsv.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/servlet/JobTargetExporterServlet.java
  console/module/job/src/main/resources/org/eclipse/kapua/app/console/module/job/client/messages/ConsoleJobMessages.properties
  console/web/src/main/webapp/WEB-INF/web.xml
  rest-api/resources/pom.xml
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/JobExecutions.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/JobTargets.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/JobTriggers.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/Jobs.java
  rest-api/web/pom.xml
  rest-api/web/src/main/java/org/eclipse/kapua/app/api/web/JaxbContextResolver.java
  rest-api/web/src/main/resources/locator.xml
  rest-api/web/src/main/resources/shiro.ini
  service/job/api/src/main/java/org/eclipse/kapua/service/job/targets/JobTarget.java
  service/scheduler/api/src/main/java/org/eclipse/kapua/service/scheduler/trigger/Trigger.java
Labels: bug, enhancement, rest-api

#2790 JobStepRegistry readonly REST API
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/JobSteps.java
  rest-api/web/src/main/java/org/eclipse/kapua/app/api/web/JaxbContextResolver.java
  rest-api/web/src/main/resources/shiro.ini
  service/job/api/src/main/java/org/eclipse/kapua/service/job/Job.java
  service/job/api/src/main/java/org/eclipse/kapua/service/job/step/JobStep.java
Labels: enhancement, rest-api

#2792 Added show of the in progress log on Device Management Operation
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/server/GwtDeviceManagementOperationServiceImpl.java
Labels: Console GWT, enhancement

#2793 Fixed closing of the Device Management Operation
  service/device/commons/src/main/java/org/eclipse/kapua/service/device/management/commons/AbstractDeviceManagementServiceImpl.java
  service/device/management/packages/internal/src/main/java/org/eclipse/kapua/service/device/management/packages/internal/DevicePackageManagementServiceImpl.java
Labels: bug

#2794 Added Dialog to show Job Execution Log in Console
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/execution/JobExecutionLogButton.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/execution/JobExecutionLogDialog.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/execution/JobTabExecutionsToolbar.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/shared/model/GwtJobExecution.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/shared/util/KapuaGwtJobModelConverter.java
  console/module/job/src/main/resources/org/eclipse/kapua/app/console/module/job/client/messages/ConsoleJobMessages.properties
Labels: Console GWT, enhancement

#2796 Fix KapuaNamedEntity name validation
  commons/src/main/java/org/eclipse/kapua/commons/util/ArgumentValidator.java
  console/module/authorization/src/main/java/org/eclipse/kapua/app/console/module/authorization/client/group/GroupAddDialog.java
  console/module/authorization/src/main/java/org/eclipse/kapua/app/console/module/authorization/client/role/dialog/RoleAddDialog.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/JobAddDialog.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/schedule/JobScheduleAddDialog.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/steps/JobStepAddDialog.java
  console/module/tag/src/main/java/org/eclipse/kapua/app/console/module/tag/client/TagAddDialog.java
  qa/integration/src/test/resources/features/job/JobServiceI9n.feature
  qa/integration/src/test/resources/features/jobScheduling/TriggerServiceI9n.feature
  service/endpoint/internal/src/main/java/org/eclipse/kapua/service/endpoint/internal/EndpointInfoServiceImpl.java
  service/job/internal/src/main/java/org/eclipse/kapua/service/job/internal/JobServiceImpl.java
  service/job/internal/src/main/java/org/eclipse/kapua/service/job/step/definition/internal/JobStepDefinitionServiceImpl.java
  service/job/internal/src/main/java/org/eclipse/kapua/service/job/step/internal/JobStepServiceImpl.java
  service/scheduler/quartz/src/main/java/org/eclipse/kapua/service/scheduler/trigger/definition/quartz/TriggerDefinitionServiceImpl.java
  service/scheduler/quartz/src/main/java/org/eclipse/kapua/service/scheduler/trigger/quartz/TriggerServiceImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authorization/group/shiro/GroupServiceImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authorization/role/shiro/RoleServiceImpl.java
  service/tag/internal/src/main/java/org/eclipse/kapua/service/tag/internal/TagServiceImpl.java
Labels: bug
