Repository eclipse-kapua/kapua, pull requests merged in 2019-10, with the labels that each got.

#2729 Fix lifecycle messages processing dev
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/KapuaConnectionContext.java
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/KapuaSecurityBrokerFilter.java
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/KapuaSecurityContext.java
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/authentication/AdminAuthenticationLogic.java
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/authentication/AuthenticationLogic.java
  broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/authentication/UserAuthenticationLogic.java
  service/device/registry/api/src/main/java/org/eclipse/kapua/service/device/registry/event/DeviceEventService.java
  service/device/registry/internal/src/main/java/org/eclipse/kapua/service/device/registry/event/internal/DeviceEventServiceImpl.java
  service/device/registry/internal/src/main/java/org/eclipse/kapua/service/device/registry/lifecycle/internal/DeviceLifeCycleServiceImpl.java
Labels: bug, enhancement

#2668 Added QA steps and for running dockers and tests on external docker host
  pom.xml
  qa/integration-steps/pom.xml
  qa/integration-steps/src/main/java/org/eclipse/kapua/qa/integration/steps/BrokerClient.java
  qa/integration-steps/src/main/java/org/eclipse/kapua/qa/integration/steps/BrokerConfigData.java
  qa/integration-steps/src/main/java/org/eclipse/kapua/qa/integration/steps/DockerSteps.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/docker/RunDockerBrokerTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/account/RunAccountServiceI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunBrokerACLDeviceManageI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunBrokerACLI9nTest.java
  qa/integration/src/test/resources/features/docker/broker.feature
Labels: Build and test, Test

#2746 Fix metric valueType on JsonKapuaPayload
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/model/data/JsonDatastoreMessage.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/model/message/JsonKapuaPayload.java
Labels: bug, rest-api

#2735 Throw KapuaNotFoundException if device does not exist
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceEvents.java
Labels: rest-api

#2734 Fix NPE on RolesPermissions REST API
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/RolesPermissions.java
Labels: rest-api
