Repository eclipse-kapua/kapua, pull requests merged in 2020-02, with the labels that each got.

#2836 REST API Users for Role
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/Roles.java
  rest-api/resources/src/main/resources/openapi/openapi.yaml
  rest-api/resources/src/main/resources/openapi/role/role-scopeId-roleId-users.yaml
Labels: rest-api

#2849 Search for messages with a given metric in REST DataMessages
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DataMessages.java
Labels: rest-api

#2801 Refactoring of job engine service integration tests
  qa/common/src/main/java/org/eclipse/kapua/qa/common/BasicSteps.java
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceRestartOfflineDeviceI9n.feature
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceRestartOnlineDeviceI9n.feature
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceRestartOnlineDeviceSecondPartI9n.feature
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceStartOfflineDeviceI9n.feature
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceStartOnlineDeviceI9n.feature
  qa/integration/src/test/resources/features/jobEngine/JobEngineServiceStopOnlineDeviceI9n.feature
  qa/integration/src/test/resources/mqtt/KapuaPoolClient-id_DEPLOY_V2_REPLY_package_list_after_uninstall.mqtt
  service/device/registry/test-steps/src/main/java/org/eclipse/kapua/service/device/registry/steps/BrokerSteps.java
  service/device/registry/test-steps/src/main/java/org/eclipse/kapua/service/device/registry/steps/DeviceRegistrySteps.java
  service/device/registry/test-steps/src/main/java/org/eclipse/kapua/service/device/registry/steps/KuraDevice.java
  service/device/registry/test/src/test/resources/features/DeviceRegistry.feature
  service/job/test-steps/src/main/java/org/eclipse/kapua/service/job/steps/JobServiceSteps.java
Labels: CQ approved

#2855 Move CORS filter to Shiro
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/CORSResponseFilter.java
  rest-api/web/src/main/java/org/eclipse/kapua/app/api/web/RestApisApplication.java
  rest-api/web/src/main/resources/shiro.ini
Labels: bug, rest-api

#2860 Improved retrieval of TriggerDefinitions in TriggerServiceImpl
  service/scheduler/quartz/src/main/java/org/eclipse/kapua/service/scheduler/trigger/quartz/TriggerServiceImpl.java
Labels: enhancement

#2863 Added Unit Tests For User Service
  service/user/test-steps/src/main/java/org/eclipse/kapua/service/user/steps/UserServiceSteps.java
  service/user/test/src/test/resources/features/UserService.feature
Labels: Test
