Repository eclipse-kapua/kapua, pull requests merged in 2020-09, with the labels that each got.

#3031 Added JUnit tests
  commons/src/test/java/org/eclipse/kapua/commons/model/id/KapuaIdFactoryImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/AbstractKapuaQueryTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/FieldSortCriteriaImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/KapuaListResultImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/predicate/AndPredicateImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/predicate/AttributePredicateImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/query/predicate/OrPredicateImplTest.java
Labels: Test

#3032 Added JUnit tests
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaEntityCreatorTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaEntityTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaNamedEntityCreatorTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaNamedEntityTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaUpdatableEntityCreatorTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/AbstractKapuaUpdatableEntityTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/KapuaEidTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/id/IdGeneratorTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/id/KapuaEidConverterTest.java
  commons/src/test/java/org/eclipse/kapua/commons/model/id/KapuaEidTest.java
  pom.xml
Labels: Dependencies, Test

#3039 Added Unit Tests For Configuration Module
  commons/src/test/java/org/eclipse/kapua/commons/configuration/KapuaConfigurableServiceSchemaUtilsTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/KapuaConfigurableServiceSchemaUtilsWithResourcesTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/KapuaConfigurationExceptionTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceComponentConfigurationImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigAttributeTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigQueryImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigurationCreatorImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigurationFactoryImplTest.java
  commons/src/test/java/org/eclipse/kapua/commons/configuration/ServiceConfigurationImplTest.java
Labels: Test

#3069 Refactor CORS Filter as Servlet Filter and disable WADL
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/CORSResponseFilter.java
  rest-api/web/src/main/java/org/eclipse/kapua/app/api/web/RestApisApplication.java
  rest-api/web/src/main/resources/shiro.ini
  rest-api/web/src/main/webapp/WEB-INF/web.xml
Labels: Bug, rest-api

#3065 Added new lables, syntax error fixes in README.md
  README.md
Labels: documentation

#3070 Added Junit Tests
  service/api/pom.xml
  service/api/src/test/java/org/eclipse/kapua/DeviceMenagementExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/ExceptionMessageUtilsTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaDuplicateExternalIdExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaDuplicateExternalIdInAnotherAccountErrorTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaDuplicateNameExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaDuplicateNameInAnotherAccountErrorTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaEndBeforeStartTimeExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaEntityNotFoundExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/service/config/ServiceXmlConfigPropertiesAdaptedTest.java
  service/api/src/test/java/org/eclipse/kapua/service/config/ServiceXmlConfigPropertiesAdapterTest.java
  service/api/src/test/java/org/eclipse/kapua/service/config/ServiceXmlConfigPropertyAdaptedTest.java
  service/stream/api/pom.xml
  service/stream/api/src/test/java/org/eclipse/kapua/service/stream/StreamDomainTest.java
  service/stream/api/src/test/java/org/eclipse/kapua/service/stream/StreamDomainsTest.java
Labels: Test

#3072 Added Junit Tests for classes in service/api module and Entity, Event, Locator package
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/KapuaLocatorTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaIllegalArgumentExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/KapuaRuntimeExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/entity/EntityPropertiesReadExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/entity/EntityPropertiesWriteExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/event/ServiceEventBusExceptionTest.java
  service/api/src/test/java/org/eclipse/kapua/event/ServiceEventTest.java
  service/api/src/test/java/org/eclipse/kapua/locator/KapuaLocatorExceptionTest.java
Labels: Test

#3079 Fixed Travis CI Maven installation
  .travis.yml
Labels: Enhancement

#3078 New sorting on Device View Tabs
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/bundles/DeviceTabBundlesDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/command/DeviceTabCommandDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/configuration/DeviceTabConfigurationDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/history/DeviceTabHistoryDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/packages/DeviceTabPackagesDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/profile/DeviceTabProfileDescriptor.java
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/tag/DeviceTabTagsDescriptor.java
Labels: Console GWT, Enhancement
