Repository eclipse-kapua/kapua, pull requests merged in 2020-10, with the labels that each got.

#3087 Added Junit Tests for model package
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/KapuaIdAdapterTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/KapuaTscalarAdapterTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/MetatypeXmlRegistryTest.java
  service/api/src/test/java/org/eclipse/kapua/model/KapuaEntityAttributesTest.java
  service/api/src/test/java/org/eclipse/kapua/model/domain/AbstractDomainTest.java
  service/api/src/test/java/org/eclipse/kapua/model/id/KapuaIdStaticTest.java
  service/api/src/test/java/org/eclipse/kapua/model/query/SortOrderTest.java
  service/api/src/test/java/org/eclipse/kapua/model/type/ByteArrayConverterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/type/ObjectTypeConverterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/type/ObjectValueConverterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/xml/BinaryXmlAdapterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/xml/DateXmlAdapterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/xml/ObjectTypeXmlAdapterTest.java
  service/api/src/test/java/org/eclipse/kapua/model/xml/XmlAdaptedNameTypeValueObjectTest.java
  service/api/src/test/java/org/eclipse/kapua/model/xml/XmlAdaptedTypeValueObjectTest.java
Labels: Test

#3080 Added unit tests for transport/api module
  transport/api/pom.xml
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportClientGetExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportSendExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportTimeoutExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/utils/ClientIdGeneratorTest.java
Labels: Test

#3084 Added Junit tests in commons/setting package
  commons/src/test/java/org/eclipse/kapua/commons/setting/AbstractBaseKapuaSettingTest.java
  commons/src/test/java/org/eclipse/kapua/commons/setting/system/SystemSettingTest.java
Labels: Test

#3083 Added Junit tests in commons/util and commons/setting packages
  commons/src/test/java/org/eclipse/kapua/commons/setting/AbstractKapuaSettingTest.java
  commons/src/test/java/org/eclipse/kapua/commons/setting/EnvFriendlyConfigurationTest.java
  commons/src/test/java/org/eclipse/kapua/commons/setting/KapuaSettingExceptionTest.java
  commons/src/test/java/org/eclipse/kapua/commons/setting/SimpleSettingKeyTest.java
  commons/src/test/java/org/eclipse/kapua/commons/setting/system/SystemSettingKeyTest.java
  commons/src/test/java/org/eclipse/kapua/commons/util/ClassUtilTest.java
  commons/src/test/java/org/eclipse/kapua/commons/util/KapuaFileUtilsTest.java
  commons/src/test/java/org/eclipse/kapua/commons/util/SemanticVersionTest.java
  commons/src/test/java/org/eclipse/kapua/commons/util/StringUtilTest.java
Labels: Test

#3094 Added and refactored JUnit tests for API module
  client/gateway/api/src/test/java/org/eclipse/kapua/client/gateway/CredentialsTest.java
  client/gateway/api/src/test/java/org/eclipse/kapua/client/gateway/PayloadTest.java
  client/gateway/api/src/test/java/org/eclipse/kapua/client/gateway/TopicTest.java
  client/gateway/api/src/test/java/org/eclipse/kapua/client/gateway/TransmissionExceptionTest.java
Labels: Test

#3096 Added Junit Tests for Kura module
  client/gateway/profile/kura/pom.xml
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/KuraBinaryPayloadCodecTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/KuraBirthCertificateModuleTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/KuraNamespaceTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/NamespaceTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/PayloadCodecTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/kura/internal/MetricsTest.java
  client/gateway/profile/kura/src/test/java/org/eclipse/kapua/client/gateway/profile/kura/KuraMqttProfileTest.java
Labels: Test

#3097 Added cucumber unit tests for service/tag package
  qa/integration/src/test/resources/features/tag/TagService.feature
  service/device/registry/test-steps/src/main/java/org/eclipse/kapua/service/device/registry/steps/DeviceRegistrySteps.java
  service/tag/test-steps/pom.xml
  service/tag/test-steps/src/main/java/org/eclipse/kapua/service/tag/steps/TagServiceSteps.java
  service/tag/test/pom.xml
  service/tag/test/src/test/java/org/eclipse/kapua/service/tag/test/CucumberWithPropertiesForTag.java
  service/tag/test/src/test/java/org/eclipse/kapua/service/tag/test/RunTagUnitTest.java
  service/tag/test/src/test/resources/features/TagService.feature
Labels: Test

#3081 Add logging on the SSO
  commons/src/main/java/org/eclipse/kapua/commons/liquibase/KapuaLiquibaseClient.java
  commons/src/main/java/org/eclipse/kapua/commons/util/log/ConfigurationPrinter.java
  console/core/src/main/java/org/eclipse/kapua/app/console/core/servlet/SsoCallbackServlet.java
  service/commons/elasticsearch/client-rest/src/main/java/org/eclipse/kapua/service/elasticsearch/client/rest/RestElasticsearchClientProvider.java
  service/commons/elasticsearch/client-transport/src/main/java/org/eclipse/kapua/service/elasticsearch/client/transport/TransportElasticsearchClientProvider.java
  service/commons/elasticsearch/server-embedded/src/main/java/org/eclipse/kapua/service/elasticsearch/server/embedded/EsEmbeddedEngine.java
  sso/api/src/main/java/org/eclipse/kapua/sso/SingleSignOnService.java
  sso/provider/src/main/java/org/eclipse/kapua/sso/provider/AbstractSingleSignOnService.java
  sso/provider/src/main/java/org/eclipse/kapua/sso/provider/SingleSignOnUtils.java
Labels: Enhancement

#3064 Added JUnit tests for TransportModule part1
  transport/mqtt/pom.xml
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/message/mqtt/MqttMessageTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/message/mqtt/MqttPayloadTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/message/mqtt/MqttTopicTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/MqttClientConnectionOptionsTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientAlreadyConnectedExceptionTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientCallbackSetExceptionTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientCleanExceptionTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientConnectExceptionTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientDisconnectExceptionTest.java
  transport/mqtt/src/test/java/org/eclipse/kapua/transport/mqtt/test/mqtt/exception/MqttClientErrorCodesTest.java
Labels: Test

#3121 Configurable Minimum Password Length
  broker/core/src/main/java/org/eclipse/kapua/broker/core/plugin/KapuaSecurityBrokerFilter.java
  commons/src/main/java/org/eclipse/kapua/commons/util/CommonsValidationRegex.java
  commons/src/main/java/org/eclipse/kapua/commons/util/StringUtil.java
  commons/src/test/java/org/eclipse/kapua/commons/util/ArgumentValidatorTest.java
  console/core/src/main/java/org/eclipse/kapua/app/console/core/client/ChangePasswordDialog.java
  console/core/src/main/java/org/eclipse/kapua/app/console/core/server/GwtAuthorizationServiceImpl.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/util/validator/ConfirmPasswordFieldValidator.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/util/validator/ConfirmPasswordUpdateFieldValidator.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/util/validator/PasswordFieldValidator.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/util/validator/PasswordUpdateFieldValidator.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/util/validator/TextFieldValidator.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/server/util/KapuaExceptionHandler.java
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/shared/util/GwtKapuaCommonsModelConverter.java
  console/module/api/src/main/resources/org/eclipse/kapua/app/console/module/api/client/messages/ConsoleMessages.properties
  console/module/api/src/main/resources/org/eclipse/kapua/app/console/module/api/client/messages/ValidationMessages.properties
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/client/tabs/credentials/CredentialAddDialog.java
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/client/tabs/credentials/CredentialEditDialog.java
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/server/GwtCredentialServiceImpl.java
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/shared/service/GwtCredentialService.java
  console/module/authentication/src/main/resources/org/eclipse/kapua/app/console/module/authentication/client/messages/ConsoleCredentialMessages.properties
  console/module/user/src/main/java/org/eclipse/kapua/app/console/module/user/client/dialog/UserAddDialog.java
  console/module/user/src/main/resources/org/eclipse/kapua/app/console/module/user/client/messages/ConsoleUserMessages.properties
  service/security/authentication/api/src/main/java/org/eclipse/kapua/service/authentication/KapuaAuthenticationErrorCodes.java
  service/security/authentication/api/src/main/java/org/eclipse/kapua/service/authentication/credential/CredentialService.java
  service/security/authentication/api/src/main/java/org/eclipse/kapua/service/authentication/credential/KapuaPasswordTooLongException.java
  service/security/authentication/api/src/main/java/org/eclipse/kapua/service/authentication/credential/KapuaPasswordTooShortException.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/credential/shiro/CredentialServiceImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/AuthenticationServiceShiroImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/KapuaAuthenticationException.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/exceptions/AuthenticationErrorCodes.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/exceptions/AuthenticationRuntimeException.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/exceptions/JwtCertificateNotFoundException.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/setting/KapuaAuthenticationSettingKeys.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/utils/AuthenticationUtils.java
  service/security/shiro/src/main/resources/META-INF/metatypes/org.eclipse.kapua.service.authentication.credential.CredentialService.xml
  service/security/shiro/src/main/resources/kapua-authentication-setting.properties
  service/security/test-steps/src/main/java/org/eclipse/kapua/service/authentication/steps/AuthenticationServiceSteps.java
  service/security/test/pom.xml
  service/security/test/src/test/java/org/eclipse/kapua/service/security/test/CucumberWithPropertiesForSecurity.java
  service/security/test/src/test/java/org/eclipse/kapua/service/security/test/RunSecurityUnitTest.java
  service/security/test/src/test/resources/features/CredentialServiceUnitTests.feature
Labels: Console GWT, Enhancement
