Repository eclipse-kapua/kapua, pull requests merged in 2021-06, with the labels that each got.

#3324 Fix CORS Error with Expired Access Token
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/auth/KapuaTokenAuthenticationFilter.java
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/filter/CORSResponseFilter.java
  rest-api/core/src/test/java/org/eclipse/kapua/app/api/core/auth/KapuaTokenAuthenticationFilterTest.java
  rest-api/resources/src/main/resources/openapi/authentication/authentication-refresh.yaml
Labels: rest-api

#3326 Update Endpoint REST API to support CORS endpoints
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/EndpointInfos.java
  rest-api/resources/src/main/resources/openapi/endpointInfo/endpointInfo-scopeId-_count.yaml
  rest-api/resources/src/main/resources/openapi/endpointInfo/endpointInfo-scopeId-_query.yaml
  rest-api/resources/src/main/resources/openapi/endpointInfo/endpointInfo-scopeId.yaml
  rest-api/resources/src/main/resources/openapi/endpointInfo/endpointInfo.yaml
Labels: Enhancement, rest-api

#3329 Fix CORS error for non-CORS requests
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/filter/CORSResponseFilter.java
Labels: Bug, rest-api

#3331 Invert CORS-non CORS logic in CORS Filter
  rest-api/core/src/main/java/org/eclipse/kapua/app/api/core/filter/CORSResponseFilter.java
Labels: Bug, rest-api

#3332 Fixed test ElasticSearchClientProvider value
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/user/RunUserServiceI9nTest.java
Labels: Bug, Test

#3310 Exporting batch jobs does not create a file with no entries anymore
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/servlet/JobTargetExporterCsv.java
Labels: Bug

#3303 Don't return mfaSecretKey when activating MFA via REST API
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/client/tabs/credentials/MfaManagementPanel.java
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/server/GwtMfaCredentialOptionsServiceImpl.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/Users.java
  rest-api/resources/src/main/resources/openapi/user/user.yaml
Labels: Bug
