Repository eclipse-kapua/kapua, pull requests merged in 2021-02, with the labels that each got.

#3199 Bump log4j-api version from 2.8.2 to 2.14.0
  broker/core/pom.xml
  pom.xml
  qa/common/pom.xml
  qa/integration/pom.xml
  service/commons/elasticsearch/client-api/pom.xml
  service/commons/elasticsearch/server-embedded/pom.xml
Labels: CQ approved, Dependencies

#3203 Upgraded Shiro version from 1.3.2 to 1.5.3 - CVE-2019-12422 - CVE-2020-1957 - CVE-2020-11989
  assembly/broker/configurations/shiro.ini
  console/web/src/main/resources/shiro.ini
  pom.xml
  qa/integration/src/test/resources/shiro.ini
  rest-api/web/src/main/resources/shiro.ini
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/KapuaAuthenticator.java
Labels: CQ approved, Dependencies, Security

#3220 Added isValid check before enabling Submit button on ActionDialog
  console/module/api/src/main/java/org/eclipse/kapua/app/console/module/api/client/ui/dialog/ActionDialog.java
Labels: Bug, Console GWT

#3225 Fixed Jobs and TriggerServices tests errors on GitHub Actions
  .github/workflows/github-actions.yaml
  ci-output.sh
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/datastore/RunDatastoreNewIndexCustomPrefixTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/datastore/RunDatastoreNewIndexTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/datastore/RunDatastoreTransportI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunBrokerACLDeviceManageI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunBrokerACLI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunDeviceBrokerIpSysEnvI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunDeviceDataI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/device/RunDeviceI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/user/RunLockoutExpirationI9nTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/user/RunUserRoleI9nTests.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/service/user/RunUserServiceI9nTest.java
Labels: Bug, Test

#3236 Added JUnit tests for shiro/authorization/group/shiro package
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessRoleDAOTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/GroupDAOTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/group/shiro/GroupCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/group/shiro/GroupFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/group/shiro/GroupImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/group/shiro/GroupQueryImplTest.java
Labels: Test

#3193 Added Junit tests for broker/core/plugin package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/ConnectorDescriptorProvidersTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/ConnectorDescriptorTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/DefaultBrokerIdResolverTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/DefaultBrokerIpResolverTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/KapuaDuplicateClientIdExceptionTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/KapuaPrincipalImplTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/KapuaSecurityContextTest.java
Labels: Test

#3195 Added JUnit tests for remaining classes in router and message package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/message/JmsUtilTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/CamelKapuaDefaultRouterTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/EndPointAdapterTest.java
Labels: Test

#3215 Added JUnit tests for mfa and realm packages
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessTokenAuthenticationRealmTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessTokenCredentialsMatcherTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/ApiKeyAuthenticatingRealmTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/JwtAuthenticatingRealmTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/UserPassAuthenticatingRealmTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/mfa/MfaAuthenticatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/mfa/MfaAuthenticatorServiceLocatorTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/realm/ApiKeyCredentialsMatcherTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/realm/JwtCredentialsMatcherTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/realm/LoginAuthenticationInfoTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/realm/SessionAuthenticationInfoTest.java
Labels: Test

#3217 Added JUnit tests for token package
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/AccessTokenCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/AccessTokenEntityManagerFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/AccessTokenFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/AccessTokenImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/AccessTokenQueryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/token/shiro/LoginInfoImplTest.java
Labels: Test

#3223 Introduced usage of ConfigurationPrinter in some classes
  broker/core/src/main/java/org/eclipse/kapua/broker/core/router/CamelKapuaDefaultRouter.java
  broker/core/src/main/java/org/eclipse/kapua/broker/core/router/EndPointContainer.java
  commons/src/main/java/org/eclipse/kapua/commons/liquibase/KapuaLiquibaseClient.java
  commons/src/main/java/org/eclipse/kapua/commons/service/internal/cache/KapuaCacheManager.java
  commons/src/main/java/org/eclipse/kapua/commons/util/log/ConfigurationPrinter.java
  console/core/src/main/java/org/eclipse/kapua/app/console/core/servlet/SsoCallbackServlet.java
  plug-ins/sso/openid-connect/provider/src/main/java/org/eclipse/kapua/plugin/sso/openid/provider/AbstractOpenIDService.java
  service/commons/elasticsearch/client-rest/src/main/java/org/eclipse/kapua/service/elasticsearch/client/rest/RestElasticsearchClientProvider.java
  service/commons/elasticsearch/client-transport/src/main/java/org/eclipse/kapua/service/elasticsearch/client/transport/TransportElasticsearchClientProvider.java
  service/commons/elasticsearch/server-embedded/src/main/java/org/eclipse/kapua/service/elasticsearch/server/embedded/EsEmbeddedEngine.java
Labels: Enhancement

#3218 Added JUnit tests for AccessInfo classes
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessInfoCreatorImplTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessInfoDAOTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessInfoCacheFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessInfoCacheTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessInfoFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessInfoImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessInfoQueryImplTest.java
Labels: Test

#3216 Added JUnit tests for classes in shiro package
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AuthenticationEntityManagerFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/AccessTokenCredentialsImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/ApiKeyCredentialsImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/CredentialsFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/JwtCredentialsTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/KapuaAuthenticationExceptionTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/RefreshTokenCredentialsImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/UsernamePasswordCredentialsImplTest.java
Labels: Test

#3109 Added Junit tests for pool and setting package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsAssistantProducerPoolTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsAssistantProducerWrapperFactoryTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsAssistantProducerWrapperTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsConnectionFactoryTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsConsumerWrapperTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/pool/JmsProducerWrapperTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/setting/BrokerSettingKeyTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/setting/BrokerSettingTest.java
Labels: Test

#3237 Remove TravisCI.org integration
  .travis.yml
  README.md
  build-tools/src/main/resources/checkstyle/kapua.suppressions.xml
  build-tools/src/main/toolchains/README.md
  build-tools/src/main/toolchains/travis-ci.xml
  ci-output.sh
  docs/developer-guide/en/building.md
  docs/developer-guide/en/qa.md
  pom.xml
Labels: Enhancement, build

#3234 Added JUnit tests for authorization package in shiro module
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessPermissionDAOTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AuthorizationEntityManagerFactoryTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/PermissionFactoryImplTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/PermissionImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/KapuaAuthorizingRealmTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/exception/InternalUserOnlyExceptionTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/exception/KapuaAuthorizationExceptionTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/exception/SelfManagedOnlyExceptionTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/exception/SubjectUnauthorizedExceptionTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/setting/KapuaAuthorizationSettingKeysTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/shiro/setting/KapuaAuthorizationSettingTest.java
Labels: Test

#3233 Added JUnit tests for authorization/role/shiro package
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/RolePermissionFactoryTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/RolePermissionImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RoleCacheFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RoleCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RoleFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RoleImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RolePermissionCacheFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RolePermissionCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RolePermissionQueryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/role/shiro/RoleQueryImplTest.java
Labels: Test

#3232 Added JUnit tests for domain classes
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/DomainDAOTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/domain/shiro/DomainCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/domain/shiro/DomainFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/domain/shiro/DomainImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/domain/shiro/DomainQueryImplTest.java
Labels: Test

#3230 Added JUnit tests for AccessPermission and AccessRole classes
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessPermissionImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessPermissionCacheFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessPermissionCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessPermissionFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessPermissionQueryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessRoleCacheFactoryTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessRoleCreatorImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessRoleFactoryImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessRoleImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authorization/access/shiro/AccessRoleQueryImplTest.java
Labels: Test

#3229 Added second part of Junit tests for converter package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/ConverterMetricsTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/KapuaCamelFilterTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/KapuaLifeCycleConverterTest.java
Labels: Test

#3228 Added JUnit tests for converter package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/AbstractKapuaConverterTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/DeviceManagementNotificationConverterTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/converter/KapuaDataConverterTest.java
Labels: Test

#3227 Added JUnit tests for RoleDAO and RolePermissionDAO classes
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/RoleDAOTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/RolePermissionDAOTest.java
Labels: Test

#3226 Added JUnit tests for class CredentialDAO and class AccessTokenDAO
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/AccessTokenDAOTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/CredentialDAOTest.java
Labels: Test

#3194 Added Junit tests for broker/core and transport module
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/AclTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/plugin/DefaultConnectorDescriptionProviderTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/KapuaApplicationBrokerFilterTest.java
  qa/integration/src/test/java/org/eclipse/kapua/integration/misc/KapuaSecurityBrokerFilterTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportClientGetExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportSendExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/exception/TransportTimeoutExceptionTest.java
  transport/api/src/test/java/org/eclipse/kapua/transport/utils/ClientIdGeneratorTest.java
Labels: Test

#3124 Added Junit tests in router package
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/EndChainEndPointTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/EndPointContainerTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/EndPointTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/EndpointsUtilTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/ParentEndPointTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/PlaceholderReplacerTest.java
  broker/core/src/test/java/org/eclipse/kapua/broker/core/router/SimpleEndPointTest.java
Labels: Test

#3239 Fixed JobEngineService error messages bundle configuration
  job-engine/jbatch/src/main/java/org/eclipse/kapua/job/engine/jbatch/exception/JobEngineException.java
  job-engine/jbatch/src/main/java/org/eclipse/kapua/job/engine/jbatch/setting/JobEngineSetting.java
  job-engine/jbatch/src/main/resources/job-engine-service-error-messages.properties
  job-engine/jbatch/src/main/resources/job-engine-setting.properties
Labels: Bug

#3242 Improved AuthenticationServiceShiro validation of credentials
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/AccessTokenCredentialsImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/ApiKeyCredentialsImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/AuthenticationServiceShiroImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/JwtCredentialsImpl.java
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/UsernamePasswordCredentialsImpl.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/AccessTokenCredentialsImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/ApiKeyCredentialsImplTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/JwtCredentialsTest.java
  service/security/shiro/src/test/java/org/eclipse/kapua/service/authentication/shiro/UsernamePasswordCredentialsImplTest.java
Labels: Enhancement

#3241 Forbid modifying JobSteps if Job has started at least once
  assembly/broker/configurations/locator.xml
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/server/GwtJobStepDefinitionServiceImpl.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/server/GwtJobStepServiceImpl.java
  console/web/src/main/resources/locator.xml
  rest-api/web/src/main/resources/locator.xml
  service/job/api/src/main/java/org/eclipse/kapua/service/job/exception/CannotModifyJobStepsException.java
  service/job/api/src/main/java/org/eclipse/kapua/service/job/exception/JobServiceErrorCodes.java
  service/job/api/src/main/java/org/eclipse/kapua/service/job/exception/JobServiceException.java
  service/job/api/src/main/resources/job-service-error-messages.properties
  service/job/internal/src/main/java/org/eclipse/kapua/service/job/step/internal/JobStepServiceImpl.java
Labels: Bug

#3243 Bump Apache HTTP Client to 4.5.13
  pom.xml
Labels: Dependencies, Security

#3244 Improved logged parameters in SsoCallbackServlet request
  console/core/src/main/java/org/eclipse/kapua/app/console/core/servlet/SsoCallbackServlet.java
Labels: Enhancement

#3245 Fix openIDidToken variable on AuthenticationServiceShiroImpl
  service/security/shiro/src/main/java/org/eclipse/kapua/service/authentication/shiro/AuthenticationServiceShiroImpl.java
Labels: Bug
