Repository eclipse-kapua/kapua, pull requests merged in 2022-07, with the labels that each got.

#3566 Fixed TriggerProperty OpenAPI definition
  rest-api/resources/src/main/resources/openapi/jobTrigger/jobTrigger.yaml
  rest-api/resources/src/main/resources/openapi/openapi.yaml
  rest-api/resources/src/main/resources/openapi/triggerDefinition/triggerDefinition.yaml
Labels: Bug, documentation

#3573 Added proper error message when INVENTORY-V1/containers resource is requested but not supported
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/inventory/DeviceTabInventoryTabContainer.java
Labels: Enhancement, Console GWT

#3574 Fix OpenAPI Device Keystore definitions
  rest-api/resources/src/main/resources/openapi/deviceKeystore/deviceKeystore.yaml
Labels: Bug, documentation

#3570 Remove encoding for password changing
  console/module/authentication/pom.xml
  console/module/authentication/src/main/java/org/eclipse/kapua/app/console/module/authentication/shared/model/GwtCredential.java
  console/module/authentication/src/test/java/org/eclipse/kapua/app/console/module/authentication/shared/model/GwtCredentialTest.java
Labels: Bug, Console GWT

#3582 Crypto utils tests
  commons/src/main/java/org/eclipse/kapua/commons/crypto/CryptoUtil.java
  commons/src/test/java/org/eclipse/kapua/commons/crypto/CryptoUtilTest.java
  commons/src/test/resources/crypto-settings.properties
Labels: Test
