Repository eclipse-kapua/kapua, pull requests merged in 2022-06, with the labels that each got.

#3559 Fixed UserCreator.status mapping and references
  console/module/user/src/main/java/org/eclipse/kapua/app/console/module/user/server/GwtUserServiceImpl.java
  qa/integration/src/test/resources/features/rest/user/RestUser.feature
  service/user/api/src/main/java/org/eclipse/kapua/service/user/UserCreator.java
  service/user/internal/src/main/java/org/eclipse/kapua/service/user/internal/UserCreatorImpl.java
  service/user/internal/src/main/java/org/eclipse/kapua/service/user/internal/UserDAO.java
  service/user/internal/src/main/java/org/eclipse/kapua/service/user/internal/UserServiceImpl.java
  service/user/test-steps/src/main/java/org/eclipse/kapua/service/user/steps/UserServiceSteps.java
Labels: Bug, rest-api

#3560 Endpoint view only for root account
  console/module/endpoint/src/main/java/org/eclipse/kapua/app/console/module/endpoint/client/EndpointViewDescriptor.java
Labels: Enhancement, Console GWT

#3562 DatastoreException malformed error message
  service/commons/storable/api/src/main/java/org/eclipse/kapua/service/storable/model/utils/MappingUtils.java
  service/datastore/internal/src/main/java/org/eclipse/kapua/service/datastore/internal/MessageStoreServiceImpl.java
Labels: Bug

#3565 Datastore - add RTE full stack trace log at debug level
  service/datastore/internal/src/main/java/org/eclipse/kapua/service/datastore/internal/MessageStoreServiceImpl.java
Labels: Enhancement
