Repository eclipse-kapua/kapua, pull requests merged in 2023-03, with the labels that each got.

#3725 Various modifications on rest APIs to reach coherence with documentation
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceConnections.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementAssets.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementBundles.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementCommands.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementConfigurations.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementInventory.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementKeystores.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementOperationNotifications.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementPackages.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementRequests.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementRequestsJson.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/DeviceManagementSnapshots.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/Streams.java
  rest-api/resources/src/main/java/org/eclipse/kapua/app/api/resources/v1/resources/StreamsJson.java
  rest-api/resources/src/main/resources/openapi/device/device.yaml
  rest-api/resources/src/main/resources/openapi/deviceConnection/deviceConnection-scopeId.yaml
  rest-api/resources/src/main/resources/openapi/deviceConnection/deviceConnection.yaml
  rest-api/resources/src/main/resources/openapi/jobExecution/job-scopeId-jobId-executions-executionId-targets.yaml
  rest-api/resources/src/main/resources/openapi/jobTarget/job-scopeId-jobId-targets-targetId-executions.yaml
  rest-api/resources/src/main/resources/openapi/stream/stream-scopeId.yaml
  service/device/management/registry/api/src/main/java/org/eclipse/kapua/service/device/management/registry/operation/notification/ManagementOperationNotificationAttributes.java
Labels: Bug, REST API

#3729 Add new information in `system info` endpoint response
  commons/src/main/java/org/eclipse/kapua/commons/setting/system/SystemSettingKey.java
  commons/src/main/resources/kapua-environment-setting.properties
  commons/src/test/java/org/eclipse/kapua/commons/setting/system/SystemSettingKeyTest.java
  commons/src/test/resources/kapua-environment-setting.properties
  console/core/src/main/java/org/eclipse/kapua/app/console/core/server/GwtAuthorizationServiceImpl.java
  pom.xml
  qa/integration/src/test/resources/kapua-environment-setting.properties
  rest-api/resources/src/main/resources/openapi/systemInfo/systemInfo.yaml
  service/account/test/src/test/resources/kapua-environment-setting.properties
  service/datastore/test/src/test/resources/kapua-environment-setting.properties
  service/device/registry/test/src/test/resources/kapua-environment-setting.properties
  service/job/test/src/test/resources/kapua-environment-setting.properties
  service/scheduler/test/src/test/resources/kapua-environment-setting.properties
  service/security/test/src/test/resources/kapua-environment-setting.properties
  service/system/api/src/main/java/org/eclipse/kapua/service/systeminfo/SystemInfo.java
  service/system/internal/src/main/java/org/eclipse/kapua/service/systeminfo/internal/SystemInfoImpl.java
  service/system/internal/src/main/java/org/eclipse/kapua/service/systeminfo/internal/SystemInfoServiceImpl.java
  service/system/test-steps/src/main/java/org/eclipse/kapua/service/systeminfo/steps/SystemInfoSteps.java
  service/system/test/src/test/resources/features/SystemInfoServiceUnitTests.feature
  service/system/test/src/test/resources/kapua-environment-setting.properties
  service/tag/test/src/test/resources/kapua-environment-setting.properties
  service/user/test/src/test/resources/kapua-environment-setting.properties
Labels: Enhancement

#3727 Correct retrieval of specific endpoints
  service/endpoint/internal/src/main/java/org/eclipse/kapua/service/endpoint/internal/EndpointInfoServiceImpl.java
Labels: Bug

#3741 Fix - deletion of mandatory property for "displayName" device parameter
  console/module/device/src/main/java/org/eclipse/kapua/app/console/module/device/client/device/DeviceAddDialog.java
  console/web/pom.xml
Labels: Bug

#3743 Fix - Added environment deployment variable to define allowed cors origins
  assembly/api/docker/Dockerfile
  deployment/docker/compose/docker-compose.yml
Labels: Bug, REST API

#3750 Fix - Updated CORS filtering logic to remove false positives
  commons-rest/filters/src/main/java/org/eclipse/kapua/commons/rest/filters/CORSResponseFilter.java
Labels: Bug, REST API

#3751 Fixed JobTarget showing when Device is not found
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/client/targets/JobTabTargetsGrid.java
  console/module/job/src/main/java/org/eclipse/kapua/app/console/module/job/server/GwtJobTargetServiceImpl.java
Labels: Bug, Console GWT
